<div class="flex items-center justify-center mt-5 mb-5">
  <div class="container">
    <div class="flex justify-center">
      <div class="w-full md:w-8/12">
        <div class="card">
          <div class="card-header">
            <h1 *ngIf="allQuestionsInTest[0] != undefined" class="text-center">{{ allQuestionsInTest[0].autoskolaTest.nameOfTest }}</h1>
          </div>
          <div class="card-body">
            <form>
              <div *ngFor="let question of allQuestionsInTest">
                <div class="mb-3">
                  <h5>{{ question.textOfQuestion }}</h5>
                  <div class="flex justify-center text-center">
                    <img class="object-cover rounded" [srcset]="question.imageOfQuestion.image" alt="image" *ngIf="question.imageOfQuestion != null">
                  </div>
                </div>
                <div class="mb-3">
                  <ul class="list-group">
                    <li *ngFor="let answer of question.autoskolaAnswers" class="list-group-item">
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="question_{{ question.id }}" [id]="answer.id.toString()">
                        <label class="form-check-label" for="{{ answer.id.toString() }}">
                          {{ answer.textOfAnswer }}
                        </label>
                      </div>
                    </li>
                  </ul>
                </div>
                <hr>
              </div>
              <div class="text-center mt-7">
                <button type="submit" class="px-4 py-2 font-bold text-white bg-blue-500 rounded-md hover:bg-blue-700" (click)="markCorrectAnswers()">Submit</button>
                <div *ngIf="showResult">
                  <h3 class="text-center">Your result is {{ result }}%</h3>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
