<form name="form" (ngSubmit)="login()" #f="ngForm">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
    </div>
    <div>
        <button>Login</button>
    </div>
    <div>
        <a [routerLink]="['/registration']">If you don't have an account, register here</a>
    </div>
</form>