<div class="login-root" *ngIf="this.organizationId === null">
  <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
    <div class="loginbackground box-background--white padding-top--64">
      <div class="loginbackground-gridContainer">
        <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
          <div class="box-root"
            style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
          <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
          <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
          <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
          <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
          <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
          <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
          <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
          <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
        </div>
      </div>
    </div>
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1><a rel="dofollow">Organization</a></h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Make your own organization</span>
            <form id="stripe-login">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [(ngModel)]="organization.name_organization" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Describe your organization</mat-label>
                <textarea matInput [(ngModel)]="organization.description_organization"
                  [ngModelOptions]="{standalone: true}"></textarea>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput type="number" [(ngModel)]="organization.price_organization"
                  [ngModelOptions]="{standalone: true}">
              </mat-form-field>
              <div class="form-group">
                <span class="padding-bottom--15">Upload your logo</span>
                <input id="file" type="file" class="form-control" (change)="onFileChange($event)">
                <img [src]="this.logo" />
              </div>
              <div class="text-center">
                <button (click)="sendORG()" class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700"type="submit">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- make a list of all users in waiting list by bootstrap table -->
<div *ngIf="organizationId !== null" class="mt-4">
  <div class="container mx-auto">
    <div class="">
      <h2 class="text-2xl font-bold text-center">Waiting list</h2>
      <table class="w-full table-auto">
        <thead>
          <tr>
            <th class="py-2">Username</th>
            <th class="py-2">Email</th>
            <th class="py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of waitingRoom">
            <td class="py-2 text-center border">{{ user.username }}</td>
            <td class="py-2 text-center border">{{ user.email }}</td>
            <td class="py-2 text-center border">
              <button (click)="acceptUser(user.id)"
                class="px-4 py-2 font-bold text-white bg-green-500 rounded hover:bg-green-700">Accept</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container mx-auto mt-4">
  <div class="py-4">
    <h2 class="text-2xl font-bold text-center">Students in ORG</h2>
    <table class="w-full table-auto">
      <thead>
        <tr>
          <th class="py-2">Username</th>
          <th class="py-2">Count of theory</th>
          <th class="py-2">Count of driving</th>
          <th class="py-2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersInOrganization">
          <td class="py-2 text-center border">{{ user.username }}</td>
          <td class="py-2 text-center border">{{ user.countOfTheory }}</td>
          <td class="py-2 text-center border">{{ user.countOfDriving }}</td>
          <td class="py-2 text-center border">
            <button (click)="minusTheory(user.username)"
              class="px-4 py-2 mr-2 font-bold text-white bg-red-500 rounded hover:bg-red-700">Theory</button>
            <button (click)="minusPractise(user.username)"
              class="px-4 py-2 mt-4 font-bold text-white bg-red-500 rounded hover:bg-red-700 sm:mt-0">Practice</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>