<ng-container *ngIf="!waitingRoom && organizations">
    <body>
        <div id="title" class="slide header">
            <h1>Driving school</h1>
        </div>
        <div id="slide1" class="slide">
            <h1 class="slidetitle">Offer of driving schools</h1>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-4" *ngFor="let organization of organizations">
                        <div class="card p-3">
                            <div class="d-flex flex-row mb-3"><img [srcset]="this.organization.image">
                                <h1 class="name">{{organization.name_organization}}</h1>
                            </div>
                            <h6>{{organization.description_organization}}</h6>
                            <div class="d-flex justify-content-between install mt-3"><span>Price
                                    {{organization.price_organization}}€</span>
                                <button (click)="addToWaitingRoom(this.organization)" type="button"
                                    class="btn btn-primary">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</ng-container>

<ng-container *ngIf="waitingRoom">
    <section id="welcome-section">
        <h1>Hello, {{waitingRoom[0].userEntity.username}}</h1>
        <p>You are in waiting room for driving school <span
                class="underline">{{waitingRoom[0].autoskolaOrganization.name_organization}}</span></p>
        <p>The price for this driving school is <span
                class="underline">{{waitingRoom[0].autoskolaOrganization.price_organization}}€</span></p>
        <span class="desc"><span class="underline">Description of driving school:</span>
            {{waitingRoom[0].autoskolaOrganization.description_organization}}</span>
        <a><button (click)="cancelWaitingRoom(this.waitingRoom[0].id_waiting)" class="button">Cancel</button></a>
    </section>
</ng-container>
<div *ngIf="!waitingRoom && !organizations">
    <p class="nothing">There is no organization</p>
</div>